@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&family=VT323&display=swap');

body{
    height: 96vh;
    background-color: rgb(129, 25, 20);
    display: flex;
    flex-direction:column;
    align-items: center;
    font-family: 'VT323', monospace;
}

h1{
   text-align: center;
   color: rgb(199, 216, 170);
   font-size: 75px;
   margin-bottom: 20px;
   text-shadow: 5px 5px black;
}
div#container-all{
    display: flex;
    flex-direction: column;
}

div#container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 400px;
    width: 400px;
    background-color: white;
}

div#container-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 250px;
    margin-top: 10px;
}

input#colorPicker{
    width: 80px;
    height: 25px;
    background-color: rgb(199, 216, 170);
}

div#container-colors>button{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
}

button{
    font-family: 'VT323', monospace;
    background-color: rgb(199, 216, 170);
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 80px;
    height: 25px;
    margin: 10px;
}

a{
    text-decoration: none;
}

a:visited{
    color:white;
    text-decoration: none;
}

p{
    padding: 0px;
    margin: 0px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 6px;
}